
*.v2
*.v2
*.vsidx
BackendCampProject/.vs/BackendCampProject/v17/.suo
*.v2
*.1
*.dll
*.pdb
*.cache
*.editorconfig
*.cache
*.cs
*.CopyComplete
*.vsidx
*.v2
*.vsidx
*.vsidx
*.txt
*.v2
*.v2
BackendCampProject/.vs/BackendCampProject/DesignTimeBuild/.dtbcache.v2
