
*.v2

BackendCampProject/.vs/BackendCampProject/v17/.suo
*.dll
*.pdb
*.cache
*.editorconfig
*.cache
*.CopyComplete
*.vsidx
*.txt
*.v2
BackendCampProject/.vs/BackendCampProject/DesignTimeBuild/.dtbcache.v2
*.txt

